# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#sec files
kuarsis-web-app-admin_Credentials.csv
.env.dev
.env.prod
# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/frontend/build

# misc
.DS_Store
#.env*
*.orig
#.gitignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#TERRAFORM SECTION START
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version
# control as they are data points which are potentially sensitive and subject
# to change depending on the environment.
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

# Ignore CLI configuration files
.terraformrc
terraform.rc
#TERRAFORM SECTION END

**/team-provider-info.json
**/function-parameters.json
**/kuarxbedevFunction-cloudformation-template.json

#Other amplify files that I removed so it does not causes problems when switching branches and maintain the code intact. 
**backend-config.json
**/team-provider-info.json
**/function-parameters.json 
**/kuarxbedevFunction-cloudformation-template.json
**/backend-config.json
*secretConstants*
**/team-provider-info.json
**/function-parameters.json 
**/kuarxbedevFunction-cloudformation-template.json
**/backend-config.json
*secretConstants*
*surveyRespondentIdsDat*
**/amplify/.config/project-config.json
**/amplify/README.md
**/amplify/backend/backend-config.json
**/amplify/backend/hosting/amplifyhosting/amplifyhosting-template.json
**/amplify/backend/tags.json
**/amplify/backend/types/amplify-dependent-resources-ref.d.ts
**/amplify/cli.json
**/amplify/hooks/README.md

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
