.kuarxisProgressBar {
  position: relative;
  width: 100%;
  height: 20px;
}

.kuarxisProgressBackgroundBar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ccc; /* Set background color for the background bar */
  /* border-radius: 200px; */
}

.kuarxisProgress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #06a00b;
  border-radius: 200px;
}

.kuarxisProgressText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border-radius: 200px;
}
